/* google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Changa&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,500&display=swap");

/* common style,Base style* or utilities*/

body {
  font-family: "Poppins", sans-serif;

  background-color: white;
}
a {
  text-decoration: none !important;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1321px;
}

.header-section {
  background-color: black;
  width: 1321px;
  height: 646px;
  border-radius: 30px;
  color: white;
  display: flex;

  justify-content: left;
}
.header-content-left {
  width: 531px;
  height: 424px;
  margin-left: 294px;
  margin-top: 60px;
}
.head-class {
  font-size: 50px;
  color: #ffffff;
  text-align: left;
}
.header-text {
  font-size: 16px;
  width: 506px;
  height: 78px;
  left: 294px;
  top: 408px;
}
.link-button {
  background: #dd0000;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 16px 25px 16px 25px;
}

.header-content-right {
  width: 581px;
  margin-top: 70px;
  margin-top: 2%;
}
.header-content-right img {
  height: 90%;
}
.content-section {
  /* width: 1321px; */
  /* display: flex; */
  margin-top: 50px;
}

.content-section-right {
  display: grid;
  grid-template-columns: repeat(3, ifr);
}

.content-section-left {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
  float: left;
}
.btn-group {
  width: 252px;
  height: 252px;
  padding-top: 10%;
  margin: 0 auto;
  display: grid;
}

.btn-group button {
  width: 252px;
  height: 64px;
}
.btn-white {
  background: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.btn-red {
  background: #dd0000;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
}
.grid-item {
  /* padding: 13px; */
  font-weight: bolder;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 0 12px 18px;
}

.grid-item img {
  width: 312px;
  height: 175px;
}
.grid-item p {
  margin-left: 10px;
}
.grid-item-btn {
  background: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  margin-left: 10px;
}
.grid-buttom {
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
}

.grid-buttom-2 {
  text-align: center;
  margin-top: 10px;
}
.grid-buttom-2 h5,
p {
  margin: 0;
  padding: 0;
}

.grid-buttom-2 p {
  font-size: x-small;
  font-weight: 100;
}

.flag-content {
  padding: 20px;
}

.grid-flag {
  width: 252px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.grid-flag h1 {
  margin: 15px;
  font-weight: 400;
}
.grid-flag img {
  width: 93.04px;
  height: 56.18px;
}

.grid-buttom-left {
  float: left;
  margin-right: 30px;
}

.footer-content {
  background-color: black;
  color: white;
  width: 100%;
  height: 300px;
  display: flex;
  text-align: center;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  margin: 0 10px;
}
.footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-goal {
  display: flex;
}
.hrline {
  border-color: 1px solid gray;
  width: 80%;
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* -----media quries-----*/
/*----mobile devices---*/

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .content-section {
    grid-template-columns: repeat(1, ifr);
    display: grid;
  }
  .grid-container {
    display: grid;
    grid-template-columns: min-content;
    background-color: white;
  }
  li {
    margin: 0 10px;
    display: block;
  }

  .content-section-right {
    display: grid;
    margin: auto;
  }

  .content-section-left {
    margin: auto;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    float: left;
  }

  .header-content-left {
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .head-class {
    font-size: xx-large;
    color: #ffffff;
    text-align: left;
  }

  .header-section {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    color: white;
    display: flex;
  }
}
