/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,500&display=swap");

/* common style,Base style* or utilities*/

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  background-color: black;
  width: 1321px;
  height: 646px;
  border-radius: 30px;
  color: white;
  display: flex;

  justify-content: left;
}
.header-content-left {
  width: 531px;
  height: 424px;
  margin-left: 294px;
  margin-top: 148px;
}
.head-class {
  font-size: 50px;
  color: #ffffff;
  text-align: left;
}
.header-text {
  font-size: 16px;
  width: 506px;
  height: 78px;
  left: 294px;
  top: 408px;
}
.link-button {
  background: #dd0000;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 16px 25px 16px 25px;
}

.header-content-right {
  width: 581px;
  margin-top: 70px;
}
.header-content-right img {
  height: 90%;
}
.content-section {
  width: 1321px;
  display: flex;
  margin-top: 50px;
}

.content-section-right {
  display: grid;
  grid-template-columns: repeat(3, ifr);
}

.content-section-left {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
}
.btn-group {
  width: 252px;
  height: 252px;
  padding-top: 10%;
  margin: 0 auto;
  display: grid;
}

.btn-group button {
  width: 252px;
  height: 64px;
}
.btn-white {
  background: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}
.btn-red {
  background: #dd0000;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-weight: bolder;
}
.grid-item-btn {
  background: white;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
}
.grid-buttom {
}

.footer-content {
  background-color: black;
  color: white;
  width: 1200px;
  height: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  display: inline-flex;
}
.footer-goal {
  display: flex;
}
